@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-glow {
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.3);
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000;
}